
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

body {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  margin: 0px;
}
h4{
  font-size: 1.3rem;
}
h3 {
  font-size: 2rem;
}
h2{
  font-size: 2.5rem;
}
h1 {
  font-size: 3rem;
}
li {
  font-size: 1.5rem;
}
p{
  font-size: 2rem;
}
.footer {
  padding: 3rem;
  color: white;

}
.footer ul {
  padding-inline-start: 0px;
  font-size: large;
}
.MuiLink-root {
  cursor: pointer;
  color: white;

}
.MuiLink-root:hover {
  color: #b27167;
}
.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.quote {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
